<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button id="golddonkey" class="golddonkey"  onclick="play()"><img src="img/gold_donkey.png" /><audio id="audio" src="sound/donkeyyodel.wav" ></audio></button>
<link rel='stylesheet' href='/css/style.css'/>
<script src="js/index.js"></script>
</body>
</html>
