<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>

<!--<button id="golddonkey" class="golddonkey"  onclick="play()"><img src="../public/img/gold_donkey.png" /><audio id="audio" src="../public/sound/donkeyyodel.wav" ></audio></button>-->
<!--<script src="../public/js/index.js"></script>-->

